<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829831758750-v742r384ocbg8m0nn9f0l2ic3bv9fks5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829831758750-v742r384ocbg8m0nn9f0l2ic3bv9fks5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>829831758750-09mbhncu3pfmc4s4kvecre2jvf9rjqgm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDUbBgyaqt8vZuVNmozg6-KOF3xrwMGMBo</string>
	<key>GCM_SENDER_ID</key>
	<string>829831758750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.vcinsidedigital.vcid</string>
	<key>PROJECT_ID</key>
	<string>vcid-1552496778292</string>
	<key>STORAGE_BUCKET</key>
	<string>vcid-1552496778292.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829831758750:ios:ee9d05de345fff2add0c8f</string>
	<key>DATABASE_URL</key>
	<string>https://vcid-1552496778292.firebaseio.com</string>
</dict>
</plist>